.container {
  max-width: 1080px;
  margin: 20px auto;
  color: #0c5604b4;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 90%;
  margin-right: 35px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 45px;
  background-color: #eeeee2a5;
}
